/* Base reset */
* {
  margin: 0;
  padding: 0;
}

:root {
  --dark: #19180A; 
  --gray: #2C4251; 
  --blue: #848FA5;
  --white: #F4FFF8;
  --orange: #F2542D;
}

body {
  background-color: var(--gray);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

img {
  display: block;
  width: 100%;
}
/*welcome section*/

 .welcome-section {
  width: 100vw;
  height: 100vh;
  background-color: var(--gray);
  display: flex;
  justify-content: center;
}

.container {
  width: fit-content;
  height: fit-content;
  background-color: var(--gray);
  display: flex;
  justify-content: center;
  align-self: center;
}

.hover {
  box-sizing: border-box;
  max-height: 50vh;
  max-width: 50vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: transparent;
  color: var(--white); 
 align-self: center;
 justify-self: center;
 font-size: 2.4rem;
 z-index: 1;
}

.hovered {
  box-sizing: border-box;
  max-height: 50vh;
  max-width: 50vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: var(--gray);
  color: var(--gray); 
 align-self: center;
 justify-self: center;
 font-size: 2.4rem;
 position: absolute;
 z-index: 0;
}
 .hovered #orange {
  color: var(--gray)
 }

.container:hover .hover *{
 color: transparent;
}

.container:hover .hover #orange{
  color: transparent
}

.container:hover .hovered #orange{
  color: var(--orange)
}

.container:hover .hovered * {
 color: var(--white);
}

.hover:hover .hovered {
  color: var(--white);
}

#orange {
  color: var(--orange)
}

.sub-title {
  color: var(--blue);
}

/*Nav-Bar*/ 

#nav-bar {
  width: 100vw;
  height: 80px;
  display: grid;
  background-color: var(--orange);
  color: var(--gray);
  position: fixed;
  top: 0;
}

.nav {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
  justify-self: end;
  font-size: 1.5em;
  font-weight: 800;
}

.nav-link {
  margin: 0;
  width: 100%;
  padding-top: 25px;
  margin: auto;
  text-align: center;
  height: 100%;
}

.nav-link:hover {
  background-color: var(--gray);
  color: var(--orange);
}

/*Proect Section*/
.project-area {
  text-align: center;
  padding: 10rem 2rem;
  background: var(--blue);
}

.project-head{
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--white);
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}



.project {
  display: block; /* Ensure anchor tags are displayed as block elements */
  height: 400px; /* Set a fixed height for the anchor tags */
  margin-bottom: 4rem; /* Adjust margin as needed */
  background: var(--main-gray);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  background-color: var(--dark);
}

.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
  text-decoration: none;
  color: var(--white);
  background-color: var(--dark);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.project-preview {
  height: 100%; /* Ensure image fills the anchor tag */
  width: 100%;
  object-fit: cover;
  object-position: left;
}

.center {
  object-position: center;
}
a {
  text-decoration: none;
}
/* footer */

.footer {
  display: flex;
  height: 80vh;
  width: 100%;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-color: var(--dark);
}

.footer * {
  color: var(--white);
  text-align: center;
}

.footer-head {
  font-size: 5em;
}

.footer-sub {
  font-size: 2.5em;
  font-style: italic;
}

.contact-me {
  display: flex;
  justify-content: space-between;
  margin: 0 15%;
  padding-top: 5%
}
